In [ ]:
import ipywidgets as widgets
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from IPython.display import display, clear_output
from datetime import date

# cnx = 'postgresql://postgres:show2016@localhost/clima'
cnx = 'postgresql://postgres:postgres@localhost/TRABALHO_CSGBD_1'
sqlalchemy.create_engine(cnx)

# con = pg.connect(host='localhost', dbname='clima', user='postgres', password= 'show2016')
con = pg.connect(host='localhost', dbname='TRABALHO_CSGBD_1', user='postgres', password= 'postgres')

# Refazer a consulta de sec scan para colocar em GB

In [24]:
class Metadados:
    def __init__(self):
        self.qtd_tabelas = widgets.Button(description="Qtd tabelas")
        self.qtd_atributos_tabela = widgets.Button(description="Qtd atributos por tabela")
        self.tam_tabela = widgets.Button(description="Tam tabelas")
        self.sec_scan = widgets.Button(description="Scan sequencial")
        
    def display(self):
        self.qtd_tabelas.on_click(self.on_qtd_tabelas_click)
        self.qtd_atributos_tabela.on_click(self.on_qtd_atributos_tabela_click)
        self.tam_tabela.on_click(self.on_tam_tabela_click)
        self.sec_scan.on_click(self.on_sec_scan_click)
        
        display(
            self.qtd_tabelas, 
            self.qtd_atributos_tabela, 
            self.tam_tabela,
            self.sec_scan
        )
        
    def on_qtd_tabelas_click(self, b):
        try:
            cursor = con.cursor()
            cursor.execute(f"SELECT count(*) as quantidade_tabelas FROM pg_catalog.pg_tables WHERE schemaname = 'public';")
            cursor.query
            con.commit()
            clear_output()
            df = pd.read_sql(f"SELECT count(*) as quantidade_tabelas FROM pg_catalog.pg_tables WHERE schemaname = 'public';", cnx)
            display("Quantidade de Tabelas", df)
        except:
            cursor.execute("ROLLBACK")
            clear_output()
            display("Não foi possível realizar a consulta do metadado. Verifique restrições.")
        finally:
            cursor.close()
    
    def on_qtd_atributos_tabela_click(self, b):
        try:
            cursor = con.cursor()
            cursor.execute(f"SELECT table_name, count(*) as quantidade_atributos FROM information_schema.columns WHERE table_schema = 'public' GROUP BY table_name;")
            cursor.query
            con.commit()
            clear_output()
            df = pd.read_sql(f"SELECT table_name, count(*) as quantidade_atributos FROM information_schema.columns WHERE table_schema = 'public' GROUP BY table_name;", cnx)
            display("Quantidade de atributos da tabela", df)
        except:
            cursor.execute("ROLLBACK")
            clear_output()
            display("Não foi possível realizar a consulta do metadado. Verifique restrições.")
        finally:
            cursor.close()
    
    def on_tam_tabela_click(self, b):
        try:
            cursor = con.cursor()
            cursor.execute(f"set schema 'public'; CREATE EXTENSION IF NOT EXISTS pgstattuple;")
            cursor.execute(f"SELECT table_name, pg_size_pretty(pg_total_relation_size(table_name::regclass)) AS tamanho_tabela FROM information_schema.tables WHERE table_schema = 'public' AND table_type = 'BASE TABLE';")
            cursor.query
            con.commit()
            clear_output()
            df = pd.read_sql(f"SELECT table_name, pg_size_pretty(pg_total_relation_size(table_name::regclass)) AS tamanho_tabela FROM information_schema.tables WHERE table_schema = 'public' AND table_type = 'BASE TABLE';", cnx)
            display("Tamanho de cada tabela", df)
        except:
            cursor.execute("ROLLBACK")
            clear_output()
            display("Não foi possível realizar a consulta do metadado. Verifique restrições.")
        finally:
            cursor.close()
            
    def on_sec_scan_click(self, b):
        try:
            cursor = con.cursor()
            cursor.execute(f"SELECT relname AS table_name, seq_scan AS quantidade_acessos_sequenciais FROM pg_stat_user_tables WHERE schemaname = 'public' ORDER BY quantidade_acessos_sequenciais DESC;")
            cursor.query
            con.commit()
            clear_output()
            df = pd.read_sql(f"SELECT relname AS table_name, seq_scan AS quantidade_acessos_sequenciais FROM pg_stat_user_tables WHERE schemaname = 'public' ORDER BY quantidade_acessos_sequenciais DESC;", cnx)
            display("Quantidade de Tabelas", df)
        except:
            cursor.execute("ROLLBACK")
            clear_output()
            display("Não foi possível realizar a consulta do metadado. Verifique restrições.")
        finally:
            cursor.close()

In [25]:
a = Metadados()
a.display()

'Quantidade de Tabelas'

             table_name  quantidade_acessos_sequenciais
0      info_temperatura                             331
1               station                             299
2           info_outras                              51
3                 north                              47
4          central_west                              14
5                 south                               7
6           north_heast                               7
7           south_heast                               6
8   columns_description                               4
9            info_vento                               1
10         info_umidade                               1
11         info_pressao                               0
12             stations                               0