In [2]:
import ipywidgets as widgets
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from IPython.display import display, clear_output
from datetime import date

cnx = 'postgresql://postgres:show2016@localhost/clima'
# cnx = 'postgresql://postgres:postgres@localhost/TRABALHO_CSGBD_1'
sqlalchemy.create_engine(cnx)

con = pg.connect(host='localhost', dbname='clima', user='postgres', password= 'show2016')
# con = pg.connect(host='localhost', dbname='TRABALHO_CSGBD_1', user='postgres', password= 'postgres')

In [3]:
def consulta():
    try:
        cursor= con.cursor()
        cursor.execute(f"set schema 'public'; SELECT * FROM north limit 10")
        cursor.query
        con.commit()
        clear_output()
        df = pd.read_sql(f"set schema 'public'; SELECT * FROM north limit 10", cnx)
        display("Endereço consultado com sucesso!", df)
    except:
        cursor.execute("ROLLBACK")
        clear_output()
        display("Não foi possível realizar a consulta. Verifique restrições.")
    finally:
        cursor.close()

In [4]:
consulta()

'Endereço consultado com sucesso!'

,index,data,hora,prcp,stp,smax,smin,gbrd,temp,dewp,...,wdct,gust,wdsp,region,prov,wsnm,inme,lat,lon,elvt
0,0,2000-05-09,00:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
1,1,2000-05-09,01:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
2,2,2000-05-09,02:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
3,3,2000-05-09,03:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
4,4,2000-05-09,04:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
5,5,2000-05-09,05:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
6,6,2000-05-09,06:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
7,7,2000-05-09,07:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
8,8,2000-05-09,08:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25
9,9,2000-05-09,09:00:00-03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,N,AM,MANAUS,A101,-3.103333,-60.016389,61.25